*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(to right, rgb(255, 0, 128), rgb(225, 0, 255), rgb(101, 6, 165));
}
.player{
    display: grid;
    grid-template-columns: repeat(2 50%);
    grid-template-rows: 100%;
    grid-template-areas: "player-1 player-2";
    justify-content: center;
    margin: 10% 15%;
    background-color: rgb(248, 219, 234)
   
    
}

.team p{
    display: inline-block;
    
}
.pop{
    width: 20%;
    height: 15%;
    position: absolute;
    background-color: antiquewhite;
    text-align: center;
    left: 40%;
    top: 43%;
    align-content: center ;
}

.player-1{
grid-area: player-1;
width: 70vh;
height: 60vh;

}

.player-0-score{
text-align: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
margin-top: 15%;


}
.active_background{
    background-color: rgb(141, 61, 117);
}
.player-0-current{
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(241, 47, 128);
    background-color: rgb(241, 47, 128);
    color: #ffff;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    height: 15%;
   margin-left: 40%;
   margin-top: 25%;
}
.player-2{
grid-area: player-2;
/*background-color: rgb(240, 109, 175);*/
width: 70vh;
height: 60vh;


}
.player-1-score{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 15%;
}
.player-0-score h2{
    margin-top: 5%;
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(241, 47, 128);
}
.player-1-score h2{
    margin-top: 5%;
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(241, 47, 128);
}
.player-0-score h1{
color: black;
font-size: 50px;
font-weight: 500;
font-family: 'Times New Roman', Times, serif;
}

.player-1-score h1{
color: black;
font-size: 50px;
font-weight: 500;
font-family: 'Times New Roman', Times, serif;
}
.player-1-current{
    
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(241, 47, 128);
    background-color: rgb(241, 47, 128);
    border-radius: 5px;
    padding: 5px;
    color: white;
    height: 15%;
    width: 20%;
    margin-left: 40%;
    margin-top: 25%;
}
.player-0-current h1{
margin-top: 10%;
}
.player-0-current h2{
    margin-top: 10%;
}
.player-1-current h1{
    margin-top: 10%;
}
.player-1-current h2{
    margin-top: 10%;
}
.buttn button{
    border-radius: 50px;
    width: 8%;
    height: 5%;
    background-color: #ffff;
    color: black;
    font-size: 15px;
    border: none;
    cursor: pointer;

}

.hidden{
    display: none;
}

.dices{
    width: 70px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 48%;
}
.but-1{
position: absolute;
top: 25%;
left: 46%;
}
.but-2{
    position: absolute;
    top: 63%;
    left: 46%;
}
.but-3{
    position: absolute;
    top: 70%;
    left: 46%;
}